@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply w-screen h-screen bg-red-200
  }

  .background {
    @apply w-screen h-screen z-0 bg-black opacity-70
  }

  .main {
    @apply w-screen h-screen z-10 relative flex flex-col justify-center items-center
  }

  .main h1 {
    @apply text-white text-[40px]
  }

  .main h6 {
    @apply text-white text-[30px]
  }

  .hireMeBtn {
    @apply p-2 px-4 mt-5 border border-teal-500 rounded-[10px] text-xl text-teal-500
  }


  .hireMeBtn:hover {
    @apply bg-teal-500 text-white transition-all
  }


}

.container {
  background-image: url('./1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}